# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit sberd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/sber/sber.conf

[Unit]
Description=SBER daemon
After=network.target

[Service]
ExecStart=/usr/bin/sberd -daemon -datadir=/var/lib/sber -conf=/etc/sber/sber.conf -pid=/run/sberd/sberd.pid
# Creates /run/sberd owned by sber
RuntimeDirectory=sberd
User=sber
Type=forking
PIDFile=/run/sberd/sberd.pid
Restart=on-failure

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
# Commented out as it's not supported on Debian 8 or Ubuntu 16.04 LTS
#MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
