
## <summary>policy for sber</summary>


########################################
## <summary>
##	Transition to sber.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sber_domtrans',`
	gen_require(`
		type sber_t, sber_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sber_exec_t, sber_t)
')


########################################
## <summary>
##	Execute sber server in the sber domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sber_initrc_domtrans',`
	gen_require(`
		type sber_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sber_initrc_exec_t)
')


########################################
## <summary>
##	Search sber lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sber_search_lib',`
	gen_require(`
		type sber_var_lib_t;
	')

	allow $1 sber_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sber lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sber_read_lib_files',`
	gen_require(`
		type sber_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sber_var_lib_t, sber_var_lib_t)
')

########################################
## <summary>
##	Manage sber lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sber_manage_lib_files',`
	gen_require(`
		type sber_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sber_var_lib_t, sber_var_lib_t)
')

########################################
## <summary>
##	Manage sber lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sber_manage_lib_dirs',`
	gen_require(`
		type sber_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sber_var_lib_t, sber_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a sber environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sber_admin',`
	gen_require(`
		type sber_t;
		type sber_initrc_exec_t;
		type sber_var_lib_t;
	')

	allow $1 sber_t:process { ptrace signal_perms };
	ps_process_pattern($1, sber_t)

	sber_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sber_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sber_var_lib_t)

')

